<!DOCTYPE HTML>
<html>
<head>
  <title>球球工具链接</title>
    <style>
        body {text-align: center}
        p {color: red}
        a {text-decoration: none}
    </style>
</head>

<body>

    <h3 style="color: red;font-size:30px;text-align: center;">球球大作战工具链接</h3>
    <img src="https://www.battleofballs.com/web_images/pc/logo.png" width="451" height="438">
  
  <ul>
  
    <p><a href="http://103.55.174.55/index.php?s=/Admin/Public/login.html" target="view_window">审核后台</a></p>
  
    <p><a href="http://122.11.58.236:3000/" target="view_window">球球Redmine</a></p>
  
    <p><a href="http://122.11.47.140/zabbix.php?action=dashboard.view" target="view_window">球球旧-zabbix监控</a></p>

    <p><a href="http://45.115.146.100/zabbix.php?action=dashboard.view" target="view_window">球球新-zabbix监控</a></p>
  
    <p><a href="http://45.115.146.141:9527/status.html" target="view_window">球球文本在线人数</a></p>
  
    <p><a href="http://122.11.58.205/dashboard/db/qiu-qiu-da-zuo-zhan-ren-shu" target="view_window">球球Grafana人数监控</a></p>
  
  </ul>

</body>

</html>

