<!DOCTYPE HTML>
<html>

<body>
  <head>
    <title>球球工具链接</title>
  </head>

  <h3>球球大作战工具链接</h3>
  
  <ul>
  
    <h2><a href="http://103.55.174.55/index.php?s=/Admin/Public/login.html" target="view_window">审核后台</a></h2>
  
    <h2><a href="http://122.11.58.236:3000/" target="view_window">球球Redmine</a></h2>
  
    <h2><a href="http://122.11.47.140/zabbix.php?action=dashboard.view" target="view_window">球球zabbix监控</a></h2>

    <h2><a href="http://45.115.146.100/zabbix.php?action=dashboard.view" target="view_window">球球New-zabbix监控</a></h2>
  
    <h2><a href="http://45.115.146.141:9527/status.html" target="view_window">球球文本在线人数</a></h2>
  
    <h2><a href="http://122.11.58.205/dashboard/db/qiu-qiu-da-zuo-zhan-ren-shu" target="view_window">球球Grafana人数监控</a></h2>
  
  </ul>

</body>

</html>

